.top-menu-left{
    height: 67px;
    width: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;

}
.top-menu-right{
    height: 67px;
    background-color: violet;
    display: flex;
    justify-content: space-evenly;

}
.menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
*{
    margin: 0;
}
.top_baner{
    justify-content: center;
    padding-left: 144px;
    width: 100%;
}
.baner{
    height: 432px;
    width: 1181px;
    padding-left: 144px;
}
.top_baner.row{
    flex-direction: row;
}